// SMACCS Module  - モジュール
// buttons
// --------------------------------------------------

.m-btn{
  display: inline-block;
  text-align: center;
  padding: 1.2rem;
  background: map-get($color-accnent-palette,black);
  outline: none !important;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  font-weight: bold;
  color: $white;

  // 左から右へ背景画像を切り替え
  &.m-btn-animation-1{
    z-index: 1;
    &:after{
      position: absolute;
      content: "";
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      z-index: -1;
      background: $white;
      transition: all .6s ease;
    }
    &:hover{
      color: $white;
      &:after{
        left: 0;
        width: 100%;
      }
    }
  }
}
