.m-page-header{
  overflow: hidden;
  text-align: center;
  .title{
    display: inline-block;
    padding: 0 50px;
    position: relative;
    &::before,&::after{
      background: $black;
      content: "";
      display: block;
      height: 3px;
      position: absolute;
      top: 50%;
      width: 500%;
    }
    &::before{right: 100%;}
    &::after{left: 100%;;}
    margin-bottom: .5rem;
  }
  .sub{
    margin-bottom: 3rem;
    font-size: .8rem;
  }
}
